# Port number
PORT=3000

# URL of the Mongo DB
POSTGRES_URL=postgres://<username>:<password>@<host>:<port>/<database_name>

# JWT
# JWT secret key
JWT_SECRET=<your_jwt_secret>
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
SMTP_HOST='<smtp_host>'
SMTP_PORT=<smtp_port>
SMTP_USERNAME='<your_smtp_email>'
SMTP_PASSWORD='<your_smtp_password>'
EMAIL_FROM='<your_email_from_name>'

# Superadmin email
SUPERADMIN_EMAIL='<superadmin_email>'

CLIENT_DOMAIN='<client_domain>'

# EMAIL Service 
AZURE_EMAIL_CONNECTION_STRING=''
MAIL_ALIAS_USER=''

# Storage Service
AZURE_STORAGE_ACCOUNT_NAME=""
AZURE_STORAGE_ACCOUNT_KEY=""